@tailwind base;
@tailwind components;
@tailwind utilities;

.amplify-button--primary {
    -webkit-appearance: button;
    background-color: #047d95!important;
    background-image: none;
}
.w-md-editor {
    height: 95%!important;
}

.w-md-editor-content {
    height: 95%!important;
}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .scrollit {
    overflow:scroll;
    max-height:500px;
}