@tailwind base;
@tailwind components;
@tailwind utilities;

.amplify-button--primary {
    -webkit-appearance: button;
    background-color: #047d95!important;
    background-image: none;
}
.w-md-editor {
    height: 95%!important;
}

.w-md-editor-content {
    height: 95%!important;
}
